h1,
p {
  font-family: Lato;
}

body {
  margin: 0;
}

.app {
  height: 100vh;
  width: 100vw;
  background-color: #000;
  position: relative;
}

.point {
  height: 4rem;
  width: 4rem;

  position: absolute;
  border: 2px solid #fff;
  border-radius: 50%;

  transform: translate(-50%, -50%);
}
